* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    border: 1px solid #F9F3EE;
}

.wrapper {
    width: 70%;
    margin: auto;

}

.heading-page {
    background-color: #EBD8C3;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

h1 {
    font-size: 40px;
    padding: 15px;
    color: #706a49;
    margin-left: 50px;
}

.find_section>form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 5px;
    background-color: #EBD8C3;
}

.find_section>form>input {
    border-radius: 5px;
    border: none;

}

#findSubmit:hover {
    background-color: #706a49;
}

.find_section>form>button {
    background-color: #87805E;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column;
}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 300px;
    margin: 0px auto;
}

.input_section>h2 {
    text-align: center;
    color: #87805E;
}

.input_section>form>.input {
    margin: 8px 0;
}

.input_section>form>button {
    background-color: #87805E;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section>form>button:hover {
    background-color: #706a49;
}

.input_section>form>button>span {
    font-weight: bold;
}

.status:hover {
    background-color: transparent;
}

.input_section>form>.input>input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #87805E;
}


.input_section>form>.input>label {
    color: #87805E;
    font-weight: bold;
}

.input_section>form>.input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section>form>.input_inline>label {
    color: #87805E;
    font-weight: bold;
    margin-right: 10px;
}


.status>strong {
    background-color: transparent;
}

.book_shelf {
    padding: 16px;
    flex: 50%;
}

.book_shelf>h2 {
    color: #87805E;
}

.book_shelf>.book_list {
    padding: 16px;
}

.book_shelf>.book_list>.book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid #87805E;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #EBD8C3;
    box-shadow: 0 3px 6px rgb(89 93 107 / 5%), 0 8px 20px rgb(93 97 114 / 17%);
}

.book_shelf .book_list .book_item:hover {
    background-color: #ECCCB2;
    transition: .5s;
}

.book_shelf>.book_list>.book_item>h3,
p {
    margin: 8px 0;
}

.book_shelf>.book_list>.book_item>.action>button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}


.book_list button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
}

.item h5 {
    font-weight: 400;
    margin-top: 1.75rem;
    font-size: 1.125rem;
    color: #000;
}

.footer {
    background-color: #EBD8C3;
    padding: 10px;
    width: 70%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.footer b {
    background-color: #EBD8C3;
}

.shelf-container {
    display: flex;
    justify-content: space-between;
}

.book_item .checklist,
.book_item .undo,
.book_item .trash {
    cursor: pointer;
    border: none;
    margin-left: 5px;
    border-radius: 5px;
    background-color: transparent;
}

.input-container {
    margin: 30px 0px;
}

#findBookTitle {
    padding: 10px;
}

@media screen and (max-width: 800px) {

    .wrapper,
    .footer {
        width: 100%;
    }

    .shelf-container {
        flex-direction: column;
    }

    h1 {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .heading-page {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
}